<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gramy">
    <!-- 인터넷 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" /><!-- 인터넷 연결 확인 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".kakao.GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GRAMy"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Join_Login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".StockModifyActivity"
            android:exported="false" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CommentsActivity"
            android:exported="false" />
        <activity
            android:name=".Join_Login.FindIdActivity"
            android:exported="false" />
        <activity
            android:name=".Join_Login.FindPwActivity"
            android:exported="false" />
        <activity
            android:name=".BoardUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".BoardDetailActivity"
            android:exported="false" />
        <activity
            android:name=".BoardWriteActivity"
            android:exported="false" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakaoa59f72913ae202bcb0582ed3dc8e1c54" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StockActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StockCheckActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Join_Login.JoinActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterShelfActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AgreementActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TutorialActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Report.reportcheckActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BetaServiceActivity"
            android:exported="false" />
        <activity
            android:name=".LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthCustomTabActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- 페이스북 메타데이터 -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>